[package]
name = "bevy_ecs_tilemap"
description = "A tilemap rendering plugin for bevy which is more ECS friendly by having an entity per tile."
version = "0.4.0"
authors = ["John Mitchell"]
homepage = "https://github.com/StarArawn/bevy_ecs_tilemap"
repository = "https://github.com/StarArawn/bevy_ecs_tilemap"
license-file = "LICENSE"
edition = "2021"
exclude = ["assets/*", "screenshots/*"]

[features]
default = []

[dependencies]
bevy = { git = "https://github.com/bevyengine/bevy", default-features = false }
morton-encoding = "2.0"
log = "0.4"
regex = "1.5.4"
bytemuck = "1.7.2"

[dev-dependencies]
anyhow = { version = "1.0" }
bevy = { git = "https://github.com/bevyengine/bevy" }
ldtk_rust = { version = "0.5" }
rand = "0.8"
env_logger = "0.9"
serde_json = { version = "1.0" }
tiled = { version = "0.9", default-features = false }

[patch."https://github.com/bevyengine/bevy"] # < Fails here because you can't patch using the same URL :(
bevy = { git = "https://github.com/bevyengine//bevy", rev = "50b3f27a767e3b538694d5e7b3ccfdffca647f1b" }

[[example]]
name = "ldtk"
path = "examples/ldtk/ldtk_usage.rs"

[[example]]
name = "tiled"
path = "examples/tiled/tiled_usage.rs"

[[example]]
name = "tiled_rotate"
path = "examples/tiled/tiled_rotate.rs"
